* {
  margin: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: cover no-repeat;
  color: white;
  background: blanchedalmond;
  margin: 20px;
}

h1,
h2 {
  color: rgb(104, 145, 181);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

button {
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#chihuahuaContainer {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}

#attackOverlay {
  display: flex;
  position: absolute;
  color: white;
  justify-content: center;
  margin-top: 10%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
}

h4 {
  display: flex;
  overflow-wrap: anywhere;
  max-width: 300px;
}

img {
  border: 10px solid plum;
  border-radius: 50%;
  padding: 0px;
  height: 500px;
  width: auto;
}
